 /*lo principall*/

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
 }

 body {
     background-color: #111;
     color: white;
 }

 .navbar {
     background-color: #1a1a1a;
     padding: 15px 40px;
 }

 .navbar-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: nowrap;

 }

 .detalle-nav {
     padding-bottom: 20px;
 }


 .menu {
     list-style: none;
     display: flex;
     gap: 30px;
     white-space: nowrap;
 }

 .menu a {
     text-decoration: none;
     color: #ccc;
     font-size: 16px;

 }

 .menu a:hover {
     color: #fff;
 }

 .logo {
     display: flex;
     align-items: center;
 }

 .logo img {
     height: 60px;
     width: auto;
     max-width: 180px;
     display: block;
     border: none;
     object-fit: contain;
 }

 .hamburger {
     display: none;
     font-size: 26px;
     cursor: pointer;
 }

 main {
     padding: 60px 40px;
 }

 .seccion {
     display: none;
 }

 .seccion.activa {
     display: block;
 }








 /* pag principal co logo giratoio*/
 #bienvenida {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     z-index: 1000;
     background-color: #111;
     display: none;
 }

 #bienvenida.activa {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .contenedor-bienvenida {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     height: 100%;
     width: 100%;
 }

 .logo-orbita-container {
     perspective: 1000px;
     padding-top: 50px;
     margin-bottom: 20px;
     width: 550px;
     height: 120px;
     position: relative;
 }

 .logo-3d {
     width: 100%;
     height: 100%;
     position: relative;
     transform-style: preserve-3d;
     animation: orbitY 8s linear infinite;
 }

 .logo-layer {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: auto;
     transform: translateZ(var(--z));
 }

 @keyframes orbitY {
     0% {
         transform: rotateY(0deg);
     }

     100% {
         transform: rotateY(360deg);
     }
 }

 .contenedor-bienvenida h1 {
     font-size: 1rem;
     letter-spacing: 2px;
     padding-top: 80px;
     padding-bottom: 20px;
     font-weight: lighter;
     font-style: italic;
     color: #ccc;
     opacity: 0;
     animation: aparecerSuave 1s ease-out forwards;
     animation-delay: 0.5s;
 }

 @keyframes aparecerSuave {
     from {
         opacity: 0;
         transform: translateY(20px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .btn-entrar {
     font-size: 0.7rem;
     background-color: transparent;
     color: white;
     border: 1px solid white;
     cursor: pointer;
     transition: all 0.3s ease;
     margin-bottom: 20px;
     border-radius: 30px;
     text-transform: uppercase;
     letter-spacing: 1px;
     width: 70px;
     padding: 8px 0;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
     animation: aparecerSuave 1s ease-out forwards;
     animation-delay: 1s;
 }

 .btn-entrar:hover {
     transform: scale(1.05);
 }







 /* estilos pa ver las imgs */
 .visor-imagen {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.9);
     display: none;
     justify-content: center;
     align-items: center;
     z-index: 2000;
 }

 .visor-imagen.activo {
     display: flex;
 }

 .visor-imagen img {
     max-width: 90%;
     max-height: 90%;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
     cursor: auto;
 }

 .cerrar-visor {
     position: absolute;
     top: 20px;
     right: 30px;
     font-size: 3rem;
     color: white;
     cursor: pointer;
     font-weight: bold;
 }










 /* seccion de mi */
 .contenedor-acerca {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     max-width: 1200px;
     margin: 0 auto;
     min-height: 80%;
     padding: 40px 5%;
     gap: 40px;
 }

 /* div sup*/
 .acerca-sup {
     text-align: center;
     width: 100%;
 }

 .acerca-sup h1 {
     font-size: 1.5rem;
     margin-bottom: 10px;
 }


 .subtitulo-acerca {
     font-size: 1.2rem;
     color: #888;
     font-weight: normal;
 }


 /* div medio con text y la pp */
 .acerca-medio {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 60px;
     width: 100%;
     margin-top: 30px;

 }


 .texto-acerca {
     flex: 1;
     text-align: center;
 }

 .texto-acerca p {
     font-size: 0.9rem;
     line-height: 1.6;
     color: #ccc;
 }

 .imagen-yo {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
 }

 .imagen-yo img {
     width: 350px;
     height: 350px;
     object-fit: cover;
 }

 /* div inferior btones redes sociales*/
 .acerca-abajo {
     width: 100%;
     display: flex;
     justify-content: center;
     margin-top: 20px;
     margin-bottom: 30px;
 }

 .redes-sociales {
     display: flex;
     gap: 15px;
     justify-content: center;
 }


 .btn-social {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 35px;
     height: 35px;
     background-color: white;
     border-radius: 50%;
     text-decoration: none;
     transition: transform 0.3s ease;
 }

 .btn-social i {
     font-size: 18px;
     color: black;
 }

 .btn-social:hover {
     transform: translateY(-5px);
     background-color: #ddd;
 }


 /* la animacion de seccion mia */
 .animado {
     opacity: 0;
     transform: translateY(50px);
     transition: all 1s ease-out;
 }

 .animado.mostrar {
     opacity: 1;
     transform: translateY(0);
 }



 /* para el celular responsivo*/
 @media (max-width: 900px) {
     .acerca-medio {
         flex-direction: column-reverse;
         gap: 30px;
     }

     .imagen-yo img {
         width: 250px;
         height: 250px;
     }
 }






 /* cv */

 .titulo-perfil {
     text-align: center;
     padding: 30px 0;
     font-size: 1.5rem;
 }

 .contenedor-cv {
     display: flex;
     max-width: 1200px;
     margin: 0 auto;
     padding: 40px 5%;
     gap: 50px;
     align-items: flex-start;
     color: #ddd;
     text-align: left;
 }


 .columna-izq {
     flex: 1;
     max-width: 350px;
     border-right: 1px solid #333;
     padding-right: 30px;
 }

 .columna-der {
     flex: 2;
 }


 .bloque-cv h3 {
     font-size: 1.3rem;
     color: white;
     margin-bottom: 15px;
     border-bottom: 2px solid #555;
     padding-bottom: 5px;
     display: inline-block;
 }


 .columna-izq ul {
     list-style: none;
     padding: 0;
 }

 .columna-izq li {
     margin-bottom: 8px;
     transition: transform 0.3s ease, color 0.3s ease;
 }


 .columna-izq li:hover {
     transform: translateX(10px);
     color: #fff;
 }

 /* info (experiencia/estudios) con efectito */
 .cv {
     margin-bottom: 25px;
     padding-left: 15px;
     border-left: 2px solid transparent;
     transition: all 0.3s ease;
 }


 .cv:hover {
     border-left-color: #fff;
     background-color: rgba(255, 255, 255, 0.05);
     padding-left: 20px;
 }










 /*seccion deproyectos*/

 html {
     scroll-behavior: smooth;


 }

 /* portada */
 .portada-proyectos {
     padding-top: 60px;
     padding-bottom: 60px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 .portada-proyectos h1 {
     font-size: 1.5rem;
     margin-bottom: 10px;
 }

 .portada-proyectos p {
     font-size: 1.2rem;
     color: #888;
 }


 /* flechita  */
 .flecha-bajar {
     display: block;
     width: 25px;
     height: 25px;
     border-bottom: 3px solid white;
     border-right: 3px solid white;
     transform: rotate(45deg);
     margin-top: 40px;
     animation: flotar 2s infinite;

 }

 @keyframes flotar {

     0%,
     100% {
         transform: rotate(45deg) translate(0, 0);
     }

     50% {
         transform: rotate(45deg) translate(5px, 5px);
     }
 }

 /* galeria cuadricula*/
 .contenedor-galeria {
     display: grid;
     grid-template-columns: 1fr 1fr;
     /* lo busque en google para hacer dos columnas :) */
     gap: 30px;
     padding: 50px 5%;
     min-height: 100%;
 }

 /* cuadro de c/proyecto */
 .proyecto {
     position: relative;
     display: block;
     height: 300px;
     overflow: hidden;
     cursor: pointer;
 }

 .proyecto img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: transform 0.5s ease;
 }

 /* texto de foto que hace un overlay */
 .info-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     opacity: 0;
     transition: opacity 0.3s ease;
     text-align: center;
     padding: 20px;
 }

 /* al pasar mouse */
 .proyecto:hover .info-overlay {
     opacity: 1;
 }

 .proyecto:hover img {
     transform: scale(1.1);
 }


 /* repsonsive general en del celu */
 @media (max-width: 768px) {
     .hamburger {
         display: block;
     }

     .menu {
         display: none;
         flex-direction: column;
         background-color: #1a1a1a;
         position: absolute;
         top: 60px;
         left: 0;
         width: 100%;
         padding: 20px;
         align-items: center;
         padding: 20px 0;
         z-index: 100;

     }

     .menu.activo {
         display: flex;
     }

     .logo img {
         height: 30px;
     }

     .contenedor-galeria {
         grid-template-columns: 1fr;
     }
 }






 /* boton volver */
 .btn-volver {
     color: #fff;
     text-decoration: none;
     font-size: 1rem;
     display: inline-flex;
     align-items: center;
     margin-bottom: 30px;
     font-weight: 300;
     letter-spacing: 1px;
     padding-top: 20px;
     padding-left: 20px;
     gap: 10px;
 }

 .btn-volver::before {
     content: "←";
 }




 /* 1eer proyecto estilos ondara */
 .ondara-titulo {
     text-align: center;
     margin-bottom: 40px;
     padding: 0 5%;
 }

 .ondara-contenido {
     padding: 0 5%;
 }

 .ondara-titulo h1 {
     font-size: 1.5rem;
     letter-spacing: 2px;
     margin-bottom: 5px;
 }

 .ondara-titulo .subtitulo {
     font-size: 1.2rem;
     color: #888;
     font-weight: normal;
 }

 .ondara-sup {
     display: flex;
     align-items: center;
     gap: 50px;
     margin-bottom: 50px;
 }

 .ondara-img-principal {
     flex: 1;
 }

 .ondara-img-principal img {
     width: 100%;
     height: auto;
 }

 .ondara-descripcion {
     flex: 1;
     color: #ccc;
     line-height: 1.6;
     font-size: 0.95rem;
     text-align: center;
 }

 .ondara-galeria {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
 }

 .ondara-galeria img {
     width: 100%;
     height: auto;
     object-fit: cover;
     aspect-ratio: 16/9;
     transition: transform 0.3s ease;
 }

 .ondara-galeria img:hover {
     transform: scale(1.02);
 }

 .ondara-video {
     grid-column: 1 / -1;
     position: relative;
     overflow: hidden;
     cursor: pointer;
     width: 100%;
 }

 .play-icon {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 3rem;
     color: white;
     background-color: rgba(0, 0, 0, 0.5);
     border-radius: 50%;
     width: 60px;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 2px solid white;
     transition: background-color 0.3s ease;
     padding-left: 7px;
     padding-bottom: 7px;
 }

 .ondara-video:hover .play-icon {
     background-color: rgba(0, 0, 0, 0.8);
 }

 .ondara-video video {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
 }

 /* responsive ondara celu */
 @media (max-width: 900px) {
     .ondara-sup {
         flex-direction: column;
         text-align: center;
         gap: 20px;
     }

     .ondara-descripcion {
         text-align: center;
     }

     .ondara-galeria {
         grid-template-columns: 1fr;
     }
 }






 /* 2do proyecto estilos naya */

 .titulo-naya {
     text-align: center;
     margin-bottom: 40px;
     padding: 0 5%;
 }

 .titulo-naya .subtitulo {
     font-size: 1.2rem;
     color: #888;
     font-weight: normal;
 }

 .cuadricula-proyecto {
     display: flex;
     flex-direction: column;
     gap: 40px;
     padding: 0 5%;
 }

 /* bloque sup */
 .bloque-sup-naya {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 30px;
     align-items: center;
 }

 .cuadricula-fotos-modelo {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 10px;
 }

 .cuadricula-fotos-modelo img {
     width: 100%;
     height: auto;
     display: block;
     object-fit: cover;
     aspect-ratio: 3/4;
 }

 .texto-descripcion {
     padding: 20px;
     font-size: 1.1rem;
     line-height: 1.6;
     color: #ddd;
     text-align: center;
 }

 /* bloque medio */
 .bloque-medio {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 15px;
 }

 .bloque-medio img {
     width: 100%;
     height: auto;
     aspect-ratio: 1/1;
     object-fit: cover;
 }

 /* bloque abajo */
 .bloque-inferior .img-full {
     width: 100%;
     height: auto;
     display: block;
     align-items: center;
 }

 /* responsive naya  celu */
 @media (max-width: 768px) {
     .bloque-sup-naya {
         grid-template-columns: 1fr;
     }

     .texto-descripcion {
         text-align: center;
         order: -1;
     }

     .bloque-medio {
         grid-template-columns: 1fr 1fr;
     }
 }




 /* 3er proyecto estilos dior */

 .dior-titulo {
     text-align: center;
     margin-bottom: 40px;
     padding: 0 5%;
 }

 .dior-contenido {
     padding: 0 5%;
 }


 .dior-titulo h1 {
     font-size: 1.5rem;
     letter-spacing: 2px;

 }

 .dior-titulo .subtitulo {
     font-size: 1.2rem;
     color: #888;
     font-weight: normal;
 }

 .dior-sup {
     display: flex;
     align-items: center;
     gap: 50px;
     margin-bottom: 50px;
 }


 .dior-img-principal {
     flex: 1;
 }

 .dior-img-principal img {
     width: 100%;
     height: auto;
     object-fit: cover;
     aspect-ratio: 1/1;
     display: block;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 }


 .dior-descripcion {
     flex: 1;
     color: #ccc;
     text-align: center;
     padding-left: 40px;
     font-size: 1rem;
     line-height: 1.8;
 }



 /* cuadricula dior */


 .dior-video-full {
     width: 100%;
     margin-top: 20px;
     position: relative;
     cursor: pointer;
     overflow: hidden;
 }



 .dior-galeria {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
 }

 .dior-galeria img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     aspect-ratio: 1/1;
     transition: transform 0.3s ease;
 }

 .dior-galeria img:hover {
     transform: scale(1.02);
 }


 .dior-video {
     position: relative;
     overflow: hidden;
     cursor: pointer;
     width: 100%;
     aspect-ratio: 1/1;
 }

 .play-icon {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 3rem;
     color: white;
     background-color: rgba(0, 0, 0, 0.5);
     width: 60px;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
     border: 1px solid white;
     transition: background-color 0.3s ease;
     padding-left: 7px;
     padding-bottom: 7px;
 }

 .dior-video:hover .play-icon {
     background-color: rgba(0, 0, 0, 0.8);
 }

 .dior-video video {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
 }



 /* responsive dior celu */
 @media (max-width: 900px) {
     .dior-sup {
         flex-direction: column;
         text-align: center;
         gap: 20px;
     }

     .dior-descripcion {
         text-align: center;
     }

     .dior-galeria {
         grid-template-columns: 1fr;
     }
 }









 /* proyeecot 4 oj Napoli pa/ old jeffrey */

 .titulo-napoli {
     text-align: center;
     margin-bottom: 40px;
     padding: 0 5%;
 }

 .napoli-contenido {
     padding: 0 5%;
 }

 .titulo-napoli h1 {
     font-size: 1.5rem;
     letter-spacing: 2px;
     margin-bottom: 5px;
 }

 .titulo-napoli .subtitulo {
     font-size: 1.2rem;
     color: #888;
     font-weight: normal;
 }

 /*parte sup*/
 .napoli-sup {
     display: flex;
     align-items: center;
     gap: 40px;
     margin-bottom: 50px;
 }

 .napoli-descripcion {
     flex: 1;
     color: #ccc;
     line-height: 1.6;
     font-size: 0.95rem;
     text-align: center;
 }

 .napoli-sup-imgs {
     flex: 1.5;
     display: flex;
     gap: 15px;
     padding-right: 1.5%;
 }

 .napoli-sup-imgs img {
     width: 50%;
     height: auto;
     object-fit: cover;
 }

 .napoli-galeria {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 15px;
 }

 .napoli-galeria img {
     width: 100%;
     height: auto;
     object-fit: cover;
 }


 /*parte abajo*/
 .napoli-galeria-abajo {
     grid-column: 1 / -1;
     display: flex;
     justify-content: space-between;
     gap: 15px;
     width: 100%;
 }

 .napoli-galeria-abajo img {
     width: 49%;
     height: auto;
     object-fit: cover;
 }

 /* diseño responsive celu oj napoli */
 @media (max-width: 900px) {
     .napoli-sup {
         flex-direction: column;
         text-align: center;
     }

     .napoli-sup-imgs {
         width: 100%;
     }

     .napoli-galeria {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 15px;
     }

     .napoli-galeria-abajo img {
         width: 48%;
     }
 }








 /* 5to proyecto estilos soleris*/

 .titulo-soleris {
     text-align: center;
     margin-bottom: 40px;
     padding: 0 5%;
 }

 .titulo-soleris h1 {
     font-size: 1.5rem;
     letter-spacing: 2px;
     margin-bottom: 10px;
 }

 .titulo-soleris .subtitulo {
     color: #888;
     font-size: 1.2rem;
 }

 .cuadricula-soleris {
     display: flex;
     flex-direction: column;
     gap: 50px;
     padding: 0 5%;
 }

 /* bloque sup */
 .bloque-sup-soleris {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 40px;
     align-items: center;
 }

 .texto-soleris {
     text-align: center;
     font-size: 1rem;
     line-height: 1.6;
     color: #ddd;
     padding: 0 20px;
 }

 .imagen-grande-soleris img {
     width: 100%;
     height: auto;
     aspect-ratio: 4/3;
     object-fit: cover;
     display: block;
 }

 /* bloque abajp */
 .soleris-galeria {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
 }

 .soleris-galeria img {
     width: 100%;
     height: auto;
     aspect-ratio: 1/1;
     object-fit: cover;
 }

 /* responsive de soleris */
 @media (max-width: 768px) {
     .bloque-sup-soleris {
         grid-template-columns: 1fr;
     }

     .texto-soleris {
         text-align: center;
         order: -1;
     }

     .soleris-galeria {
         grid-template-columns: 1fr;
     }
 }









 /* 6to pryecto estilos giralia */

 .titulo-giralia {
     text-align: center;
     margin-bottom: 40px;
     padding: 0 5%;
 }

 .titulo-giralia h1 {
     font-size: 1.5rem;
     letter-spacing: 2px;
     margin-bottom: 10px;
 }

 .titulo-giralia .subtitulo {
     color: #888;
     font-size: 1.2rem;
 }

 .cuadricula-giralia {
     display: flex;
     flex-direction: column;
     gap: 50px;
     padding: 0 5%;
 }

 /* seccion sup giralia */
 .bloque-sup-giralia {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 40px;
     align-items: center;
 }

 .texto-giralia {
     text-align: center;
     font-size: 1rem;
     line-height: 1.6;
     color: #ddd;
     padding: 0 20px;
 }

 .imagen-grande-giralia img {
     width: 100%;
     height: auto;
     aspect-ratio: 1/1;
     object-fit: cover;
     display: block;
 }

 /* seccion abaoj */
 .giralia-galeria {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
 }

 .giralia-galeria img {
     width: 100%;
     height: auto;
     aspect-ratio: 1/1;
     object-fit: cover;
 }

 /*parte videito*/

 .giralia-video {
     width: 100%;
     aspect-ratio: 1/1;
     position: relative;
     cursor: pointer;
     overflow: hidden;
 }

 .giralia-video video {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
 }

 .giralia-video:hover .play-icon {
     background-color: rgba(0, 0, 0, 0.8);
 }

 /* responsive giralia celulae */
 @media (max-width: 768px) {
     .bloque-sup-giralia {
         flex-direction: column;
     }

     .texto-giralia {
         text-align: center;
         order: -1;
     }

     .giralia-galeria {
         grid-template-columns: 1fr;
     }
 }









 /* 7mo proyecto singular essence*/

 .titulo-singular {
     text-align: center;
     margin-bottom: 40px;
     padding: 0 5%;
 }

 .titulo-singular h1 {
     font-size: 1.5rem;
     letter-spacing: 2px;
     margin-bottom: 10px;
 }

 .titulo-singular .subtitulo {
     color: #888;
     font-size: 1.2rem;
 }

 .cuadricula-singular {
     display: flex;
     flex-direction: column;
     gap: 50px;
     padding: 0 5%;
 }

 /* seccion sup img y textp*/
 .bloque-sup-singular {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 40px;
     align-items: center;
 }


 .imagen-grande-singular img {
     width: 100%;
     height: auto;
     aspect-ratio: 1/1;
     object-fit: cover;
     display: block;
 }


 .texto-singular {
     text-align: center;
     font-size: 1rem;
     line-height: 1.6;
     color: #ddd;
     padding: 0 20px;
 }

 /* seccion abjo cuadricula */
 .perfume-galeria {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 15px;
 }

 .perfume-galeria img {
     width: 100%;
     height: auto;
     aspect-ratio: 1/1;
     object-fit: cover;
 }

 /* responsive celular de singular */
 @media (max-width: 768px) {
     .bloque-sup-singular {
         grid-template-columns: 1fr;
     }

     .texto-singular {
         text-align: center;
         order: -1;
     }

     .perfume-galeria {
         grid-template-columns: 1fr 1fr;

     }
 }








 /* 8mo proyecto zentide*/

 .titulo-zentide {
     text-align: center;
     margin-bottom: 40px;
     padding: 0 5%;
 }

 .titulo-zentide h1 {
     font-size: 1.5rem;
     letter-spacing: 2px;
     margin-bottom: 10px;
 }


 .titulo-zentide .subtitulo {
     color: #888;
     font-size: 1.2rem;
 }

 .cuadricula-zentide {
     display: flex;
     flex-direction: column;
     gap: 50px;
     padding: 0 5%;
 }

 /* seccion sup  */
 .bloque-sup-zentide {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 40px;
     align-items: center;
 }

 .texto-zentide {
     text-align: center;
     font-size: 1rem;
     line-height: 1.6;
     color: #ddd;
     padding: 0 20px;
 }

 .imagen-banner-zentide img {
     width: 100%;
     height: auto;
     object-fit: cover;
 }



 /* seccion abajo */
 .zentide-galeria {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
 }

 .zentide-galeria img {
     width: 100%;
     height: auto;
     aspect-ratio: 16/9;
     object-fit: cover;
 }

 /* responsive celular zentide */
 @media (max-width: 768px) {
     .bloque-sup-zentide {
         grid-template-columns: 1fr;
     }

     .texto-zentide {
         text-align: center;
         order: -1;
     }

     .zentide-galeria {
         grid-template-columns: 1fr;
     }
 }





 /*seccion contacto */

 .titulo-contacto {
     text-align: center;
     margin-bottom: 40px;
     padding: 0 5%;
 }

 form {
     max-width: 600px;
     margin: 0 auto;
     padding: 50px 20px;
     color: #ddd;
     text-align: left;
 }

 label {
     display: block;
     margin-top: 20px;
     margin-bottom: 10px;
 }

 input,
 textarea {
     width: 100%;
     padding: 12px;
     background-color: transparent;
     border: 1px solid #444;
     border-radius: 4px;
     color: white;
 }

 button {
     margin-top: 15px;
     cursor: pointer;
     width: 80px;
     background-color: #fff;
     padding: 10px;
     border: 1px solid #444;
     border-radius: 4px;

     #texto-enviar {
         color: #000;
     }

 }

 /* Padding extra al final de los proyectos que se me olvido  */
 #ondara,
 #naya,
 #dior,
 #napoli,
 #soleris,
 #giralia,
 #singular,
 #zentide {
     padding-bottom: 30px;
 }